:root {
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.no-overflow{
  overflow: hidden;
}
.hamburger{
  margin-left: 20px;
  margin-right: 20px;
}
.scroll-none{
  
}
.lg-none{
display: none !important;
}
.bg-white{
  background-color: white;
}
p {
  font-size: 24px;

  color: #696984;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.navbar_logo {
  width: 192px;
}
.pb-40 {
  padding-bottom: 70px;
}
nav {
  background-color: transparent;
}
.navbar_item {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-left: 40px;
  margin-right: 40px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}
.navbar_item:hover {
  color: #f48c06;
  cursor: pointer;
}
.login_button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  padding: 13px 36px;
  border: none;
  letter-spacing: 0.02em;
  background: #ffffff;
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
  border-radius: 80px;
  color: #6c6c6c;
  outline: none;
  transition: 0.5s ease-in-out all;
}
.login_button:hover {
  background: #f48c06;
  color: #fff;
  cursor: pointer;
}
.sign_button {
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  background: #f48c06;
  border-radius: 80px;
  padding: 13px 36px;
  letter-spacing: 0.02em;
  color: #ffffff;
  outline: none;
  transition: 0.5s ease-in-out all;
}
.sign_button:hover {
  background: #fff;
  color: #6c6c6c;
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}
.flex-desktop-col {
  flex-direction: column;
}
/* start header */
.header {
  /* height: 75vh; */
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 200px;
}
.container {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}
.header_main {
  padding-top: 189px;
}
.text-center {
  text-align: center;
}
.header_title {
  color: #2f327d;
  font-family: Popins;
  font-weight: bold;
  font-size: 54px;
  line-height: 81px;
}
.orange-text {
  color: #f48c06;
}
section {
  padding-top: 200px;
}
.header_text {
  color: #464646;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
}
.header_button {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffff;
  border-radius: 80px;
  background-color: #f48c06;
  padding: 22px 38px;
  border: none;
  margin-top: 52px;
  transition: 0.5s all ease-in-out;
}
.header_button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #6c6c6c;
}
.play_button img {
  width: 80px;
  margin-top: 67px;
  cursor: pointer;
}
.flex-end{
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .navbar_list{
    padding: 0;
  }
  .navbar_item{
   
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px;
    margin-bottom: 19px;
  }
  .mb-sm-12{
    margin-bottom: 20px;
  }
  .navbar-mob{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    position: fixed;
  }
  .lg-none{
display: flex !important;
}
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

  .navbar_list {
    background-color: #FFF2E1;
    position: fixed;
    height: 100vh;
    left: -200%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.non-mob-only{
  display: none;
}

.navbar_list.active {
    left: 0;
}



.hamburger {
    display: block !important;
    cursor: pointer;
}

  .mob-image{
    width: 300px;
  }
  .header{
    padding-bottom: 0;
  }
  .text-center-mob-only{
    text-align: left;
  }
  h1 {
    font-size: 37px !important;
    line-height: 34px !important;
  }
  p {
    font-size: 20px !important;
  }
  nav {
    /* display: none !important; */
  }
  .section_title {
    font-size: 20px !important;
  }
 
  .header_main {
    padding-top: 80px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 80px;
  }
  .header_text {
    color: #464646;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    margin-top: 32px;
  }
  .non-mob-only{
    display: none;
  }
  .mob-image{
    width: 500px;
  }
  .header{
    padding-bottom: 0;
  }
  .text-center-mob-only{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 30px !important;
    line-height: 34px !important;
  }
  p {
    font-size: 24px !important;
  }
  nav {
    /* display: none !important; */
  }
  .section_title {
    font-size: 30px !important;
  }
 
  .header_main {
    padding-top: 80px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 80px;
  }
  .header_text {
    color: #464646;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    margin-top: 32px;
  }
  .none {
    display: none !important;
  }
  .flex-col {
    flex-direction: column;
  }
  .header_title {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 52px;
  }
  .header_button {
  }
  .grid-cols-3 {
    grid-template-columns: 1fr !important;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr !important;
  }
  .overlay-image {
    max-width: 500px;
  }
  .overlay-text {
    top: 0% !important;
  }
  .overlay-title {
    font-size: 19px !important;
  }
  .non-desktop-only {
    display: flex !important;
  }
  .mobiel-image {
    width: 500px !important;
  }
  .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .list-text{
    font-size: 18px !important;
  }
  .mt-20{
    margin-top: 20px;
  }
  .header{
    /* background: #FFF2E1; */
    background-image: url('./images/header-bg.jpg');
    background-position: left left;
  }
}
@media only screen and (max-width: 600px) {
  .navbar_list{
    padding: 0;
  }
  .navbar_item{
   
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px;
    margin-bottom: 19px;
  }
  .mb-sm-12{
    margin-bottom: 20px;
  }
  .navbar-mob{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    position: fixed;
  }
  .lg-none{
    display: flex !important;
    }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

  .navbar_list {
    background-color: #FFF2E1;
    position: fixed;
    height: 100vh;
    left: -200%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.non-mob-only{
  display: none;
}

.navbar_list.active {
    left: 0;
}

.navbar_item {

}

.hamburger {
    display: block !important;
    cursor: pointer;
}

  .mob-image{
    width: 300px;
  }
  .header{
    padding-bottom: 0;
  }
  .text-center-mob-only{
    text-align: center;
  }
  h1 {
    font-size: 37px !important;
    line-height: 34px !important;
  }
  p {
    font-size: 20px !important;
  }
  nav {
    /* display: none !important; */
  }
  .section_title {
    font-size: 20px !important;
  }
 
  .header_main {
    padding-top: 80px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 80px;
  }
  .header_text {
    color: #464646;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    margin-top: 32px;
  }
  .none {
    display: none !important;
  }
  .flex-col {
    flex-direction: column;
  }
  .header_title {
    text-align: center;
  }
  .header_button {
  }
  .grid-cols-3 {
    grid-template-columns: 1fr !important;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr !important;
  }
  .overlay-image {
    max-width: 300px;
  }
  .overlay-text {
    top: 0% !important;
  }
  .overlay-title {
    font-size: 19px !important;
  }
  .non-desktop-only {
    display: flex !important;
  }
  .mobiel-image {
    width: 300px !important;
  }
  .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .list-text{
    font-size: 18px !important;
  }
  .mt-20{
    margin-top: 20px;
  }
  .header{
    background: #FFF2E1;
    
  }
}
.non-desktop-only {
  display: none;
}
/* end responsive */
/* start section */

.card_image {
  margin-bottom: -129px !important;
  position: relative;
  bottom: 76px;
}
.section_title {
  font-size: 36px;
  font-weight: 500;
  color: #2F327D;
}
.section_text {
  text-align: center;
}
/* start grid */
.grid_container {
  display: grid;
}
.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

/* end grid setup */
/* center the content */
.mx-auto {
  margin: 0 auto;
}
.card {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
}
.card_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;

  color: #2f327d;
}
.card_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 180%;
  /* or 36px */

  text-align: center;

  color: #696984;
}
.gap-100 {
  column-gap: 100px;
  row-gap: 50px;
}
.instructor_card {
  position: relative;
  border-radius: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(23, 27, 65, 0.5);
  opacity: 0.6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  height: 98%;
  border-radius: 15px;
}
.overlay-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 27%;
}
.overlay-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.overlay-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 11px 35px;
  transition: 0.5s ease-in-out;
}
.overlay-button:hover {
  background: rgba(35, 189, 238, 0.9);
  border: none;
  cursor: pointer;
}
.gap-20 {
  gap: 20px;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}


.image{
  width: 500px;
}
.list-text{
  color: #696984;
  font-size: 22px;
  line-height: 100%;
}
.mb-20{
  margin-bottom: 20px;
}
.icons{
  margin-top: 20px;
  width: 60px;
  height: 60px;
}
.shoe_more{
  color: #f48c06;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid #f48c06;
  border-radius: 80px;
  padding: 19px 38px;
  transition: 0.5s ease-in-out all;
}
.shoe_more:hover{
  cursor: pointer;
  background-color: #f48c06;
  color: #fff;
}
.text-white{
  color: #fff;
  font-size: 22px;
  line-height: 33px;
}
footer{
  background-color: #252641;
  padding-bottom: 100px;
  padding-top: 40px;
}
.footer_text{
  font-size: 22px;
  line-height: 39px;
  color: #B2B3CF;
  margin-top: 90px;

}
.footer-input{
  border: 1px solid #83839A;
  border-radius: 80px;
  background: transparent;
  padding: 16px 18px;
  border-radius: 80px;
  min-width: 200px;
  margin-right: 21px;
}

.footer_button{
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  padding: 14px 35px;
  background: linear-gradient(105.5deg, #545AE7 19.57%, #393FCF 78.85%);
border-radius: 60px;
border: none;
transition: 0.5s ease-in-out all;
}
.footer_button{
  cursor: pointer;
  background-color: #252641;
   
}
.mt-96{
  margin-top: 96px;

}
.footer_text_list{
  color: #B2B3CF;
  font-size: 19px;
  margin-left: 15px;
  margin-right: 15px;
}
.mt-100{
  margin-top: 100px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}